@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.bigcontainer {
  max-width: 1440px;
  width: 100%;
  height: 1870px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  position: relative;
}
.header {
  width: 1110px;
  height: 58px;
  display: flex;
  justify-content: space-between;
}
.firstbutton {
  width: 175px;
  height: 58px;
  border-radius: 8px;
  font-family: "Barlow", sans-serif;
  background: #e8eff2;
  color: #162542;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  transition: 1s;
}
.firstbutton:hover {
  background: #162542;
  color: #fff;
}
.calculator {
  width: 540px;
  height: 480px;
  border-radius: 20px;
  background: #d8d8d8;
}
.firstlinediv {
  width: 445px;
  height: 312px;
}
.firstline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1110px;
  justify-content: space-between;
  margin-top: 83px;
}
.firstlineheader {
  color: #162542;
  font-family: "Barlow", sans-serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 56px;
  text-transform: uppercase;
}
.firstlinetext {
  width: 445px;
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 24px;
}
.firstlinebutton {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  width: 175px;
  height: 58px;
  border-radius: 8px;
  background: #f16718;
  border: none;
  margin-top: 40px;
  transition: 1s;
}
.firstlinebutton:hover {
  background: #ff9b62;
}
.firstlinespan {
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-left: 40px;
}
.secondline {
  display: flex;
  align-items: center;
  width: 1110px;
  margin-top: 30px;
}
.secondlinepicture1 {
  border-radius: 20px;
  background-color: #f16718;
  width: 255px;
  height: 480px;
}
.secondlinepicture2 {
  border-radius: 20px;
  background: #d8d8d8;
  margin-left: 30px;
  width: 445px;
  height: 480px;
}
.secondlinediv {
  height: 265px;
  width: 255px;
  margin-left: 125px;
  display: flex;
  flex-direction: column;
}
.secondlineheading {
  color: #162542;
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
}
.secondlinetext {
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 27px;
}
.thirdlineheader {
  width: 255px;
  color: #162542;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 48px;
}
.thirdline {
  margin-top: 168px;
  display: flex;
  gap: 30px;
}
.thirdlinetext {
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  width: 255px;
  margin-top: 24px;
}
.secondlinepictures {
  display: flex;
  flex-direction: row;
}
.spani1 {
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.spani2 {
  color: #7b8bad;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.footer {
  margin-top: 128px;
}
.position1 {
  position: absolute;
  left: 1305px;
}
.position2 {
  position: absolute;
  top: 940px;
  left: 0px;
}
.tabletcalculator {
  display: none;
}
.mobilecalculator {
  display: none;
}
@media (max-width: 1130px) {
  .bigcontainer {
    width: 768px;
    height: 2128px;
  }
  .header {
    width: 669px;
    height: 58px;
    display: flex;
    justify-content: space-between;
  }
  .firstline {
    width: 669px;
  }
  .calculator {
    display: none;
  }
  .tabletcalculator {
    display: inline-block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #d8d8d8;
    margin-left: 58px;
  }
  .firstlineheader {
    font-size: 48px;
    line-height: 48px;
  }
  .firstlinetext {
    width: 339px;
    font-size: 16px;
    margin-top: 34px;
  }
  .firstlinespan {
    margin-left: 33px;
  }
  .secondlinepicture1 {
    width: 214px;
    height: 320px;
    flex-shrink: 0;
  }
  .secondlinepicture2 {
    width: 445px;
    height: 320px;
    object-fit: cover;
    margin-left: 27px;
  }
  .position1 {
    display: none;
  }
  .position2 {
    display: none;
  }
  .secondline {
    flex-direction: column;
  }
  .secondlinepictures {
    width: 690px;
  }
  .secondlinediv {
    display: flex;
    flex-direction: row;
    width: 690px;
    height: 108px;
    margin-left: 0px;
    margin-top: 72px;
  }
  .secondlinetext {
    margin-top: 15px;
    margin-left: 36px;
  }
  .thirdline {
    flex-wrap: wrap;
    margin-top: 142px;
    gap: 70px;
    padding-left: 39px;
  }
  .thirdlineheader {
    margin-top: 40px;
  }
  .firstline {
    margin-top: 62px;
  }
  .thirdlinetext {
    width: 281px;
  }
  .footer {
    margin-top: 142px;
  }
}
@media (max-width: 800px) {
  .bigcontainer {
    width: 375px;
    height: 3007px;
  }
  .header {
    width: 327px;
  }
  .firstline {
    display: flex;
    flex-direction: column;
  }
  .firstlinediv {
    height: 286px;
    width: 327px;
  }
  .firstlinebutton {
    width: 150px;
    height: 48px;
    flex-shrink: 0;
  }
  .firstlinespan {
    margin-left: 32px;
  }
  .mobilecalculator {
    display: inline-block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #d8d8d8;
    width: 352px;
    height: 331px;
    margin-left: 20px;
    margin-top: 64px;
  }
  .calculator {
    display: none;
  }
  .tabletcalculator {
    display: none;
  }
  .secondlinepicture1 {
    width: 109px;
    height: 193px;
    margin-left: -5px;
  }
  .secondlinepicture2 {
    width: 220px;
    height: 193px;
    margin-left: 19px;
  }
  .secondlinepictures {
    width: 362px;
  }
  .firstlinebutton {
    width: 150px;
    height: 48px;
    margin-top: 32px;
  }
  .firstlinetext {
    margin-top: 32px;
  }
  .secondlinediv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 236px;
    gap: 24px;
  }
  .secondlineheading {
    width: 255px;
    text-align: center;
    margin-left: 0px;
  }
  .secondlinetext {
    text-align: center;
    width: 327px;
    margin-left: 0px;
  }
  .fourthlinediv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .thirdlinetext{
    width: 327px;
  }
  .thirdline{
    margin-top: 64px;
  }
  .thirdlineheader{
    margin-top: 48px;
  }
  .footer{
    margin-top: 96px;
  }
}
